body{  

font-family: Calibri, Helvetica, sans-serif;  
  background-color:  BlanchedAlmond; 

  font-family: Calibri, Helvetica, sans-serif;  
  background-color: BlanchedAlmond;  
}  
.container {  
    padding: 50px;  
  background-color: BlanchedAlmond;  
}  
  
input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 10px;  
  margin: 10px 0 20px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color: white;  
  outline: none;  
}  
 div {  
            padding: 10px 0;  
         }  
hr {  
  border: 2px solid Black;  
  margin-bottom: 30px;  
}  
.registerbtn {  
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 10;  
}  
.registerbtn:hover {  
  opacity: 10;  
}  